html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@font-face {
    font-family: Futuralt;
    src: url(../fonts/FuturaLT-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FONTS */
@font-face {
  font-family: 'Asap-Bold';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.woff2') format('woff2'),
       url('../fonts/Asap-Bold.woff') format('woff'),
       url('../fonts/Asap-Bold.ttf') format('truetype'),
       url('../fonts/Asap-Bold.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-BoldItalic';
  src: url('../fonts/Asap-BoldItalic.eot');
  src: url('../fonts/Asap-BoldItalic.woff2') format('woff2'),
       url('../fonts/Asap-BoldItalic.woff') format('woff'),
       url('../fonts/Asap-BoldItalic.ttf') format('truetype'),
       url('../fonts/Asap-BoldItalic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Italic';
  src: url('../fonts/Asap-Italic.eot');
  src: url('../fonts/Asap-Italic.woff2') format('woff2'),
       url('../fonts/Asap-Italic.woff') format('woff'),
       url('../fonts/Asap-Italic.ttf') format('truetype'),
       url('../fonts/Asap-Italic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.woff2') format('woff2'),
       url('../fonts/Asap-Regular.woff') format('woff'),
       url('../fonts/Asap-Regular.ttf') format('truetype'),
       url('../fonts/Asap-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Asap-Regular';
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    background: #eaeaea;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size-adjust: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a, a:focus{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    opacity: 0.7;
}

button:focus, .btn:focus, a:focus {outline:0 !important;}

b, strong{
    font-weight: 500;
}

p{
    margin: 0 0 10px 0;
}

.brand{
    position: fixed;
    display: block;
    top: 50px;
    left: 50px;
    width: 61px;
    height: 48px;
    z-index: 9;
    -webkit-transition: all 1000ms ease-out;
    -moz-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out
}

.grey .brand, .white .brand{    
    width: 45px;
    height: 36px;
}

.logotipo{
   fill: #393939; 
}

.grey .logotipo{
    fill: #bdbdbd;
}

.white .logotipo{
    fill: #fff;
}

.hamburger{
     position: fixed;
     right: 58px;
     top: 58px;
     width: 25px;
    height: 16px;
    z-index: 10;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Menu */

.main-menu-container{
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    overflow: hidden;
    z-index:9;
    -webkit-transition: all 1.1s cubic-bezier(.28,0,.07,1);
    transition: all 1.1s cubic-bezier(.28,0,.07,1);
}

.main-menu-container.show{
    left: 0;
}

.nav-main-menu-container{
    width: 94%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}

.nav-main-menu-container li{
    display: inline-block;
    margin: 5px 25px;
    color: #3b3b3b;
    font-family: Futuralt;
}

.nav-main-menu-container li{
    text-transform: uppercase;
    font-size: 17px;
    -webkit-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    -moz-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    -o-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    cursor: pointer;
}

.nav-main-menu-container li:not(.high){
    opacity: 0.3;
}

.nav-main-menu-container li.high{
    transform-origin: center center;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    margin: 5px 15px;
    padding: 5px 15px;
    background: #3b3b3b;
    color: #fff;
    font-size: 18px;
}

.nav-menu-items-container{
    width: 100%;
    top: -50%;
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
    transform: translateY(60%);
}

.nav-menu-items-container .swiper-slide{
    display: inline-block;
    position: relative;
    margin: 0 25px;
    width: 506px;
    -webkit-transition: transform 600ms ease-out, margin 300ms ease-out;
    -moz-transition: transform 600ms ease-out, margin 300ms ease-out;
    -o-transition: transform 600ms ease-out, margin 300ms ease-out;
    transition: transform 600ms ease-out, margin 300ms ease-out;
}

.nav-menu-items-container .swiper-slide:not(.swiper-slide-active){
    opacity: 0.5;
}

.nav-menu-items-container .swiper-slide-active{
    transform-origin: center center;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    margin: 0 125px !important;
    z-index: 1;
    /*opacity: 1;*/
}

.nav-menu-items-container .swiper-slide-active.on{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
}

.back-composition{
    position: relative;
    width: 506px;
    height: auto;
}

.tiny-composition{
    position: absolute;
    right: 12%;
    top: 50%;
}

.tiny-composition:first-child{
    /*width: 180px;*/
    width: 126px;
}

.tiny-composition:nth-child(2){
    /*width: 180px;*/
    width: 126px;
}

.tiny-composition:nth-child(3){
    /*width: 258px;*/
    width: 180px;
}

.tiny-composition:nth-child(4){
    /*width: 185px;*/
    width: 129px;
}

.tiny-composition:nth-child(5){
    /*width: 215px;*/
    width: 150px;
}

.tiny-composition:last-child{
    /*width: 258px;*/
    width: 180px;
}

.landscape-item{
    top: 70%;
}


/* Home */

.swiper-home{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swiper-home_wrapper{
    width: 100%;
    height: 100%;
}

.swiper-home_slide{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.image {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer-mask{
    width: 100vw;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #eaeaea;
    -webkit-transition: all .8s cubic-bezier(.28,0,.07,1);
    transition: all .8s cubic-bezier(.28,0,.07,1);
}

.layer-mask.SlideInUp{
    height: 100vh;
}


/* Hub */

.container_composition{
    position: relative;
    margin-left: 106px;
    top: 150px;
    width: 702px;
}

.image-mask-wrapper{
    position: relative;
     -webkit-transition: all 600ms cubic-bezier(.28,0,.07,1) .4s;
    -moz-transition: all 600ms cubic-bezier(.28,0,.07,1) .4s;
    -o-transition: all 600ms cubic-bezier(.28,0,.07,1) .4s;
    transition: all 600ms cubic-bezier(.28,0,.07,1) .4s;
    top: 0px;
}

.covered .image-mask-wrapper{
   top: 100px;
}

.backimage{
    position: relative;
    height: 440px;
    width: auto;
}

.cover-mask{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 0;
    -webkit-transition: height 1.1s cubic-bezier(.28,0,.07,1);
    transition: height 1.1s cubic-bezier(.28,0,.07,1);
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    background: #eaeaea;
}

.covered .cover-mask{
    height: 100%;
}

.group_composition{
    position: absolute;
    top: 116px;
    right: -165px;
}

.title-mask-wrapper{
    position: relative;
    margin-bottom: 25px;
    height: 58px;
    right: 0;
    opacity: 1;
    -webkit-transition: right 800ms ease-out .5s, opacity 600ms ease-out .5s;
    -moz-transition: right 800ms ease-out .5s, opacity 600ms ease-out .5s;
    -o-transition: right 800ms ease-out .5s, opacity 600ms ease-out .5s;
    transition: right 800ms ease-out .5s, opacity 600ms ease-out .5s;
}

.covered .title-mask-wrapper{
    right: -100px;
    opacity: 0;
}

.title-mask{
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 120%;
    height: 78px;
    -webkit-transition: all 1.2s cubic-bezier(.28,0,.07,1);
    transition: all 1.2s cubic-bezier(.28,0,.07,1);
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.covered .title-mask{
    width: 0px;
}

.title{
    font-family: Futuralt;
    font-size: 58px;
    line-height: 78px;
    font-size: bold;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.pretitle:before{
    content: 'Font Vella presenta';
    font-family: 'Asap-Italic';
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: -24px;
    left: 0;
    opacity: 1;
    -webkit-transition: all 600ms ease-out 1.5s;
    -moz-transition: all 600ms ease-out 1.5s;
    -o-transition: all 600ms ease-out 1.5s;
    transition: all 600ms ease-out 1.5s;
}

.covered .pretitle:before{
    opacity: 0;
    left: -100px;
}

.middle_composition{
    width: 204px;
    float: left;
    position: relative;
}

.middle_composition:first-child{
    padding-right: 38px;
}

.videolink{
    position: absolute;
    right: 0px;
    text-align: right;
    padding-right: 15px;
    opacity: 1;
    -webkit-transition: all 600ms ease-out 1.2s;
    -moz-transition: all 600ms ease-out 1.2s;
    -o-transition: all 600ms ease-out 1.2s;
    transition: all 600ms ease-out 1.2s;
    display: inline-block;
}

.videolink:before{
    content: 'x';
    padding-right: 8px;
    padding-left: 10px;
}

.covered .videolink{
    opacity:0;
    right: 50px;
}

.line_composition{
    display: inline-block;
}

.line_composition:before{
    content: '';
    width: 73px;
    height: 1px;
    background: #515151;
    display: inline-block;
    top: -5px;
    position: relative;
    right: 5px;
    -webkit-transition: all 400ms ease-out 1.3s;
    -moz-transition: all 400ms ease-out 1.3s;
    -o-transition: all 400ms ease-out 1.3s;
    transition: all 400ms ease-out 1.3s;
}

.covered .line_composition:before{
    width: 0px;
}

.thumbnail{
    position: absolute;
    min-width: 204px;
    right: 0;
}

.thumbnail-mask-wrapper{
    position: relative;
    right: 0px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .7s;
    -moz-transition: all 400ms ease-out .7s;
    -o-transition: all 400ms ease-out .7s;
    transition: all 400ms ease-out .7s;
}

.covered .thumbnail-mask-wrapper{
    right: -60px;
    opacity: 0;
}

.thumbnail-mask{
    position: absolute;
    width: 100%;
    right: 0;
    min-height: 260px;
    -webkit-transition: width 1.1s cubic-bezier(.28,0,.07,1);
    transition: width 1.1s cubic-bezier(.28,0,.07,1);
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
    overflow: hidden;
}

.covered .thumbnail-mask{
    width: 0;
}

.content_composition{
    margin-left: 38px;
    height: 250px;
    opacity: 1;
    -webkit-transition: all 700ms ease-out .8s;
    -moz-transition: all 700ms ease-out .8s;
    -o-transition: all 700ms ease-out .8s;
    transition: all 700ms ease-out .8s;
    overflow: hidden; 
}

.content_composition p{
    font-size: 14px;
    line-height: 24px;
    color: #515151;
}

.covered .content_composition{
    height: 0;
    opacity: 0;
}

.btn{
    position: relative;
    left: 0px;
    font-family: 'Asap-Bold';
    text-transform: uppercase;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 3px;
    opacity:1;
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
}

.covered .btn{
    left: 80px;
    opacity:0;
}

.btn:after{
    content: '';
    display: block;
    width: 77px;
    height: 3px;
    background: #45cdff;
    position: relative;
    right: -60px;
    -webkit-transition: all 400ms ease-out 1.3s;
    -moz-transition: all 400ms ease-out 1.3s;
    -o-transition: all 400ms ease-out 1.3s;
    transition: all 400ms ease-out 1.3s;
}

.covered .btn:after{
    width: 0;
    opacity: 0;
}

.swiper-hub{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swiper-hub_wrapper{
    width: 100%;
    height: 100%;
}

.swiper-hub_slide{
    width: 100%;
    height: 100%;
}

.swiper-hub_nav{
    position: absolute;
    width: 100%;
    top: 50%;
    height: 84px;
    margin-top: -42px;
    z-index: 8;
}

.swiper-hub_btn{
    cursor: pointer;
    font-weight: bold;
    color: #bdbdbd;
    height: 84px;
    width: 35px;
}

.panel-btn-hub_nav{
    position: absolute;
    background: #bdbdbd;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out
}

.swiper-hub_button-next{
    position: relative;
    float: right;
}

.swiper-hub_button-next .panel-btn-hub_nav{
    right: -28px;
}

.swiper-hub_button-prev{
    position: relative;
    float: left;
}

.swiper-hub_button-prev .panel-btn-hub_nav{
    left: -28px;
}

.nav-hub_btn{
    width: 9px;
    height: 14px;
    fill: #bdbdbd;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.nav-hub_btn path{
    stroke: #bdbdbd;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.swiper-hub_button-prev .nav-hub_btn{
    right: 0;
}

.swiper-hub_button-prev:hover .nav-hub_btn{
    left: 50%;
    margin-left: -5px;
}

.swiper-hub_button-prev:hover .nav-hub_btn path{
    stroke: #fff;
}

.swiper-hub_button-prev:hover .panel-btn-hub_nav{
    left: 0;
}

.swiper-hub_button-next .nav-hub_btn{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: absolute;
    left: 0;
}

.swiper-hub_button-next:hover .nav-hub_btn{
    left: 50%;
    margin-left: -5px;
}

.swiper-hub_button-next:hover .nav-hub_btn path{
    stroke: #fff;
}

.swiper-hub_button-next:hover .panel-btn-hub_nav{
    right: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    position: absolute;
    width: auto;
    right: 65px;
    bottom: 60px;
    left: auto;
    z-index: 8;
}

.swiper-pagination-bullet{
    font-family: Futuralt;
    font-size: 13px;
    color: #bdbdbd;
    width: auto;
    height: 12px;
    border-radius: 0;
    background: transparent;
    opacity: .6;
}

.swiper-pagination-bullet:hover{
    opacity: 1;
}

.swiper-pagination-bullet:after{
    position: relative;
    content: '';
    width: 0;
    height: 2px;
    bottom: 3px;
    display: inline-block;
    background: #bdbdbd;
    margin-left: 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.swiper-pagination-bullet-active{
    background: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active:after{
    width: 35px;
}


/* landing */

.image-mask-layer{
    /*position: relative;
    width: 100%;*/ /* width: auto; width: 702px; */
    /*height: 54.75%;*/ /* height: 440px; */
    /*margin: 0px 36.875% 0px 8.35938%;*/ /* margin-left: 106px; */
    /*transition: height 1s ease 0s, margin 1s ease 0s, top 1s ease 0s;*/
    /*top: 150px;*/
}

.image-mask-layer{
    position: relative;
    width: 702px;
    height: 440px;
    top: 150px;
    margin-left: 106px;
    background: url('../img/backimage_01.png') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*transition: height 1s ease 0s, margin 1s ease 0s, top 1s ease 0s;*/
    transition: all 2s ease .8s;
}

/*.backimageBig{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    background: url('../02.jpg') no-repeat;
    background-size: 70%;
    background-position-x: -78%;
    background-position-y: -40%;
    opacity: .43;
    filter: grayscale(100%);
    transition: width 1s .0s ease, height 1s .0s ease, background 1s .0s ease, opacity 1s .0s ease, filter 1s .0s;
}*/

/*.backimageLand{
    background: url('img/backimage_01.png') no-repeat;
}*/

.image-mask-layer.scale{
    height: 100%;
    top: 0;
    width: 100%;
    margin: 0;
}

.container-text{
    position: fixed;
    top: 25px;
    right: -50%;
    width: 50%;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    background: #fff;
    -webkit-transition: right 800ms cubic-bezier(.28,0,.07,1) .8s;
    -moz-transition: right 800ms cubic-bezier(.28,0,.07,1) .8s;
    -o-transition: right 800ms cubic-bezier(.28,0,.07,1) .8s;
    transition: right 800ms cubic-bezier(.28,0,.07,1) .8s;
}

.container-text.showed{
    right: 25px;
}

.content-landing{
    position: relative;
    width: 380px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.content-landing h2{
    font-family: Futuralt;
    font-size: 35px;
    line-height: 38px;
    color: #3b3b3b;
    text-transform: uppercase;
    margin: 0;
}

.content-landing h1{
    font-family: Futuralt;
    font-size: 45px;
    line-height: 48px;
    color: #3b3b3b;
    text-transform: uppercase;
    margin: 0;
}

.content-landing p{
    position: relative;
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.cover{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cover p{
    padding: 70px 0;
}

.cover p:before{
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background: #45cdff;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: 35px;
}

.cover p:after{
    width: 13px;
    height: 52px;
    content: '';
    background: url(../img/arrow-down.png)no-repeat;
    background-color: #ccc; 
    -webkit-background-size: 13px 52px;
    -moz-background-size: 13px 52px;
    -o-background-size: 13px 52px;
    background-size: 13px 52px;
    display: block;
    left: 50%;
    position: relative;
    margin-left: -6px;
    top: 67px;
    cursor: pointer;
}

.block-section{
    height: 100%;
}

.test{
    border: 1px solid #ccc;
}




/* footer */

footer{
    position: fixed;
    bottom:0;
    left: 0;
}

.social{
    position: relative;
    bottom: 50px;
    left: 50px;
}

.social:after{
    width: 70px;
    height: 1px;
    background: #393939;
    position: relative;
    display: inline-block;
    content: '';
    top: -6px;
}

.grey .social:after{
    background: #bdbdbd;
}

.social-item{
    display: inline-block;
    height: 15px;
    margin-right: 25px;
}

.social-item:last-child{
    margin-right: 15px;
}

.fb{
    width: 8px;
}

.tw{
    width: 16px;
}

.inst{
    width: 16px;
}

.social-svg{
    fill: #393939;
}

.grey .social-svg{
    fill: #bdbdbd;
}

